.dragList {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.slider {
  pointer-events: none;

  .slidingElement {
    position: absolute;
  }
}

.elements {
  position: absolute;
}

.element {
  user-select: none;
}

.insertionSlot {
  transition: height 0.2s;
}

