.drag-list {
  position: relative;
  display: flex;
  flex-direction: column;

  .slider {
    pointer-events: none;

    .slidingElement {
      position: absolute;
      width: 100%;
      transition: top 0.1s;
    }
  }

  .elements {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .element {
    padding: 25px;
    background-color: #f00;
  }

  .insertionSlot {
    transition: height 1s;
  }
}

